Label
{
    color: #554E4A; 
}

.taskName
{
    font-size: 24;
    margin-bottom: 20;
    margin-left: 16;
}

.projectName
{
    font-size: 18;
    margin-left: 16;
}

.notesContainer
{
    margin-left: 16;
}

.label 
{
    margin: 2; 
    vertical-align: center;
}

.image 
{
    margin-right: 8;
    width: 50;
    height: 50;
}