Label
{
    color: #554E4A; 
}

.taskName
{
    font-size: 24;
    margin-bottom: 20;
    margin-left: 16;
}

.projectName
{
    font-size: 18;
    margin-left: 16;
    margin-top: 16;
}

.notesContainer
{
    margin: 16;
}

.label
{
    margin-left: 10;
    margin-top: 2;
}

.picture
{
    height: 180;
}

.deleteButton
{
    background-color:#FF5252;
    color:#FFFFFF;
    margin:10;
}

