
Label
{
    color: #554E4A; 
}

.taskName
{
    font-size: 24;
    margin-bottom: 20;
    margin-left: 16;
}

.smallIcon
{
    width: 24;
    height: 24;
}

.projectName
{
    font-size: 18;
    margin-left: 16;
}

.iconContainer
{
    margin-left: 16;
    margin-bottom: 14;
    margin-top: 14;    
}

.notesContainer
{
     margin-left: 16;
}

.label
{
    margin-left: 10;
    margin-top: 2;
}

