Page {
    background-color: #F7F4ED;
}

Label {
    color: #55443B;
}

TextField, TextView {
    margin: 0 16 0 16;
    color: #95938F;
}

ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
}

.textFieldContainer {
}

.firstTextFieldContainer {
    margin-top: 16;
}

.logo {
    margin-top: 30;
    margin-bottom: 20;
    horizontal-align: center;
}

.icon {
    width: 24;
    height: 24;
}

.header {
    font-size: 24;
    margin: 10;
}

.primaryButton {
    background-color: #259B24;
    color: #FFFFFF;
    margin: 10;
}

.secondaryButton {
    color: #259B24;
    background-color: #00FFFFFF;
    margin: 10;
}

.fab {
        margin: 0 16 28 0;
}

.fabContainer {
    vertical-align: bottom;
    horizontal-align: right;
}