Page {
    background-color:#F7F4ED;
}

Label
{
    color: #55443B; 
}

TextField, TextView
{
    margin:8;
    color:#95938F;
}

SegmentedBar
{
    background-color:#CDDC39;
}

.logoImage
{
    margin-top:30;
    margin-bottom:20;
    horizontal-align:center;
}

.header 
{
    font-size: 24;
    margin:10;
}

.primaryActionButton
{
    background-color:#259B24;
    color:#FFFFFF;
    margin:10;
}

.fab
{
    width: 60;
    height: 60;
    horizontal-align: right;
    margin: 10;
}

.fabContainer
{
    vertical-align: bottom;
    horizontal-align: right;
}

.secondaryActionButton
{
    color:#259B24;   
    background-color:#00FFFFFF;
    margin:10;
}

.title { 
    font-size: 22; 
    color: black; 
} 

.activityIndicator
{
    horizontal-align:center;
    vertical-align:center;
}
