Page {
    background-color:#F7F4ED;
}

Label
{
    color: #55443B; 
}

TextField, TextView
{
    margin:8;
    color:#95938F;
}

SegmentedBar
{
    background-color:#CDDC39;
}

.logoImage
{
    margin-top:50;
    margin-bottom:20;
    horizontal-align:center;
}

.header 
{
    font-size: 24;
    margin:10;
}

.primaryActionButton
{
    background-color:#259B24;
    color:#FFFFFF;
    margin:10;
}

.secondaryActionButton
{
    color:#259B24;   
    background-color:#00FFFFFF;
    margin:10;
}

.speakerPicture { 
    width: 100; 
    height: 100; 
} 

.speakerTitle, .speakerCompany { 
    font-size: 18; 
    color: #07ab9e; 
} 

.speakerName { 
    font-size: 22; 
    color: black; 
} 

.title { 
    font-size: 22; 
    color: black; 
} 