.taskName
{
    font-size: 24;
    margin-bottom: 20;
    margin-left: 16;
}

.projectName
{
    font-size: 18;
    margin-left: 16;
}

.taskContainer
{
    margin-top: 16;
}

.segmentedBar
{
    color: #737247;
}

.completeIcon
{
    width: 24;
    height: 24;
    margin-left:20;
}

.listView 
{
    background-color:#F7F4ED;
}